{% extends 'my_bootstrap.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}

{% block bootstrap_extra_head %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}

{% block bootstrap_title %}
    Добавление (редактирование) работы
{% endblock %}

{% block bootstrap_content %}
<form method="post">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Записать" >
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Создать (редактировать) запись</h4>
    </div>
    <div class="modal-body">
        <div>
            {% bootstrap_form form %}
        </div>

        <div>
            <p>Список материалов</p>
            {% if table %}
                {% render_table table %}
            {% else %}
                <p>Записи отсутсвуют</p>
            {% endif %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Записать</button>
    </div>
</form>
{% endblock %}