{% extends 'my_bootstrap.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}

{% block bootstrap_extra_head %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}

{% block bootstrap_title %}
    Показательные работы
{% endblock %}



{% block bootstrap_content %}
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="chkBoxFilterSwitch" value="option1">
        <label class="form-check-label" for="chkBoxFilterSwitch">Поиск по ключевым словам</label>
        <div id="divContent"></div>
    </div>
    {% if filter %}
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'Отобрать' button_class="btn-primary btn-sm filter-margin" %}
            <div><a href="{{ request.path }}" class="btn btn-secondary btn-sm filter-margin" role="button" aria-pressed="true" > Очистить </a></div>
            <div>Отображено {{ filter.qs.count }} из {{ filter.queryset.count }} элементов.</div>
        </form>
    {% endif %}
    <div>
        <button type="button" class="btn btn-primary js-create-demowork">
            <span class="glyphicon glyphicon-plus"></span>
            Добавить запись
        </button>
    </div>
    <div>
        {% if table %}
            {% render_table table %}
        {% else %}
            <p>Записи отсутсвуют</p>
        {% endif %}
    </div>


    <div class="modal fade" id="modal-demowork">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}


<!-- Button trigger modal
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Запустить модальное окно
    </button>
-->
<!-- Modal -->
{% block bootstrap_modal %}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Подтвердите удаление</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Вы действительно хотите удалить данную запись?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Да</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}